#navigationMenuDesktop {
  width: 100%;
  background-color: #010101;
  position: fixed;
  top: 0;
  z-index: 1;
}

.menuList {
  position: relative;
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 0;
}

.menuItem {
  color: #fff;
  display: inline-block;
}
.menuItem:hover {
  color: #99cc00;
  cursor: pointer;
}

#menuItemTickets {
  position: absolute;
}

#menuBarMobileLayout {
  width: 100%;
  height: 75px;
  position: fixed;
  background-color: #010101;
  z-index: 1;
  top: -100px;
}

#menuItemMore #moreDropMenu {
  color: #010101;
  padding-top: 35px;
}

#menuItemMore:hover #moreDropMenu {
  visibility: visible;
}

#moreDropMenu {
  position: absolute;
  list-style: none;
  visibility: hidden;
}

#moreDropMenuContainer {
  width: 200px;
  padding: 0;
  border-top: 4px solid rgba(10, 9, 9, 0.25);
  background-color: #fff;
  text-align: left;
}
#moreDropMenuContainer ul {
  padding: 5px 0;
}
#moreDropMenuContainer ul li {
  padding: 5px 0 5px 18px;
  list-style: none;
  font-size: 14px;
}
#moreDropMenuContainer ul li:hover {
  background-color: #99cc00;
  color: #fff;
  cursor: pointer;
}

.subLine {
  line-height: 8px;
  font-size: 8px;
}
.subLine .amsterdamColor {
  color: #00a7e1;
}
.subLine .sanFranciscoColor {
  color: #e80f42;
}

#navigationMenuMobile.navigationMenuMobileActivate {
  right: 0;
}

#navigationMenuMobile {
  width: 100vw;
  height: 100vh;
  background-color: black;
  color: white;
  top: 0;
  position: fixed;
  display: block;
  right: -100vw;
  z-index: 1;
}

.menuListMobile {
  list-style: none;
  text-align: center;
  padding-top: 20vh;
  margin: 0;
}

.menuItemMobile {
  margin-bottom: 15px;
  font-size: 15px;
}

@media (max-width: 1920px) {
  #navigationMenuDesktop {
    height: 75px;
  }

  .menuList {
    top: 25px;
  }

  .menuItem {
    font-size: 14px;
    margin: 0 30px;
  }

  #menuItemTickets {
    top: -8px;
    width: 200px;
  }
}
@media (max-width: 1550px) {
  .menuItem {
    font-size: 14px;
    margin: 0 1vw;
  }
}
@media (max-width: 1270px) {
  #navigationMenuDesktop {
    display: none;
  }

  #navigationMenuMobile {
    display: block;
  }

  #menuBarMobileLayout {
    top: 0;
  }
}
* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

.headerLogo {
  z-index: 2;
  position: fixed;
}

.headerLogoContainer {
  position: relative;
}

.HRNLogo {
  position: absolute;
}

header {
  background: url("../../images/header-bg-desktop.jpg") center top no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  height: 52vw;
  color: #fff;
  position: relative;
  text-align: center;
  overflow: hidden;
}

#headerContentContainer {
  position: absolute;
  bottom: 4vw;
  width: 100%;
}
#headerContentContainer .tagline {
  font-size: 2.5vw;
}

.centerTagLine {
  width: 100%;
  position: absolute;
  bottom: 33vw;
  left: 38.5%;
}
.centerTagLine span {
  top: 0;
  position: absolute;
  font-family: 'Playfair Display', serif;
  font-size: 2vw;
  font-weight: 200;
  display: block;
}
.centerTagLine .centerTagLineLeftIndented {
  left: 4.5%;
}
.centerTagLine #secondCenterTagLine {
  font-size: 6vw;
}
.centerTagLine #thirdCenterTagLine {
  top: 6.5vw;
}

.tagline {
  font-family: 'Passion One', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

#headerGetTicketsButton {
  margin-left: 30px;
}

#sponsors img {
  margin-top: 3%;
}

#avatureLogo, #benifyLogo, #cornerstoneLogo, #successfactorsLogo, #workdayLogo {
  width: 5%;
  margin-right: 2.5%;
}

#benifyLogo {
  width: 7%;
}

#cornerstoneLogo {
  width: 8%;
}

#successfactorsLogo {
  width: 13%;
}

#successfactorsLogoMobile {
  display: none;
}

#workdayLogo {
  width: 5%;
}

.featuringKeynote {
  position: absolute;
  bottom: 3.5%;
  text-align: center;
  bottom: 2%;
}

.left {
  left: 2.5%;
}

.right {
  right: 5.5%;
}

.keyNoteTitle, .keyNoteSpeaker {
  color: #fff;
  font-family: 'Libre Baskerville', serif;
  font-size: 1.25vw;
  font-weight: 300;
}

.keyNoteSpeaker {
  font-size: 1.75vw;
  font-weight: 700;
}

.mobileGridBreak {
  display: none;
}

@media (max-width: 1920px) {
  .headerLogo {
    left: 60px;
    top: 13px;
  }

  .HRNLogo {
    margin-left: -40px;
    margin-top: 5px;
    width: 240px;
    top: 0px;
  }
}
@media (max-width: 640px) {
  header {
    height: 220vw;
    background: url("../../images/header-bg-mobile.jpg") center top no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
  }

  .centerTagLine {
    bottom: 175vw;
    left: 26.5%;
  }
  .centerTagLine .centerTagLineLeftIndented {
    font-size: 4vw;
    left: 7.5%;
  }
  .centerTagLine #secondCenterTagLine {
    font-size: 11.25vw;
  }
  .centerTagLine #thirdCenterTagLine {
    top: 11.75vw;
  }

  #headerContentContainer {
    bottom: 10vw;
  }
  #headerContentContainer .tagline {
    margin-bottom: 7.5vw;
    font-size: 10vw;
  }
  #headerContentContainer #headerAgendaButton, #headerContentContainer #headerGetTicketsButton {
    display: block;
    margin: 0 auto;
  }
  #headerContentContainer #headerGetTicketsButton {
    margin-top: 7.5vw;
  }
  #headerContentContainer .featuringKeynote {
    top: auto;
    bottom: 105vw;
  }
  #headerContentContainer .featuringKeynote .keyNoteTitle, #headerContentContainer .featuringKeynote .keyNoteSpeaker {
    font-size: 3vw;
  }
  #headerContentContainer .featuringKeynote .keyNoteSpeaker {
    font-size: 4vw;
  }
  #headerContentContainer .left {
    left: 5vw;
    text-align: left;
  }
  #headerContentContainer .right {
    text-align: right;
    right: 5vw;
  }
  #headerContentContainer #sponsors {
    position: relative;
    bottom: -8.75vw;
  }
  #headerContentContainer #sponsors img {
    margin-top: 2.8125vw;
    margin-bottom: 2.8125vw;
    height: 11.5625vw;
    position: static;
    vertical-align: bottom;
  }
  #headerContentContainer .mobileGridBreak {
    display: block;
  }
  #headerContentContainer #avatureLogo {
    width: 26vw;
    margin-right: 16vw;
  }
  #headerContentContainer #benifyLogo, #headerContentContainer #successfactorsLogoMobile {
    width: 33vw;
    margin-right: 0;
  }
  #headerContentContainer #cornerstoneLogo {
    width: 37vw;
    margin-right: 4vw;
    margin-left: 2vw;
  }
  #headerContentContainer #successfactorsLogo {
    display: none;
  }
  #headerContentContainer #successfactorsLogoMobile {
    display: inline-block;
  }
  #headerContentContainer #workdayLogo {
    width: 24vw;
    margin-right: 50vw;
  }
}
@media (max-width: 400px) {
  .centerTagLine #thirdCenterTagLine {
    top: 11.25vw;
  }
}
.greenButton {
  width: 100%;
  border: 1px solid #99cc00;
  background-color: #99cc00;
  color: #fff;
}
.greenButton:hover {
  border: 1px solid #fff;
  background-color: #fff;
  color: #99cc00;
}

.whiteButton {
  width: 100%;
  border: 1px solid #fff;
  background-color: #fff;
  color: #99cc00;
}
.whiteButton:hover {
  border: 1px solid #99cc00;
  background-color: #99cc00;
  color: #fff;
}

@media (max-width: 1920px) {
  .genericButton, .greenButton, .whiteButton {
    max-width: 200px;
    height: 40px;
    font-size: 14px;
  }
}
.c-hamburger {
  display: block;
  overflow: hidden;
  width: 96px;
  height: 96px;
  font-size: 0;
  text-indent: -9999px;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
  position: fixed;
  z-index: 2;
}

.c-hamburger:focus {
  outline: none;
}

.c-hamburger span {
  display: block;
  position: absolute;
  top: 44px;
  left: 0;
  right: 0;
  height: 8px;
  background: #fff;
}

.c-hamburger span::before,
.c-hamburger span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 8px;
  background-color: #fff;
  content: "";
}

.c-hamburger span::before {
  top: -20px;
}

.c-hamburger span::after {
  bottom: -20px;
}

.c-hamburger--htx {
  background-color: transparent;
}

.c-hamburger--htx span {
  transition: background 0s 0.3s;
}

.c-hamburger--htx span::before,
.c-hamburger--htx span::after {
  transition-duration: 0.3s, 0.3s;
  transition-delay: 0.3s, 0s;
}

.c-hamburger--htx span::before {
  transition-property: top, transform;
}

.c-hamburger--htx span::after {
  transition-property: bottom, transform;
}

/* active state, i.e. menu open */
.c-hamburger--htx.is-active {
  background-color: transparent;
}

.c-hamburger--htx.is-active span {
  background: none;
}

.c-hamburger--htx.is-active span::before {
  top: 0;
  transform: rotate(45deg);
}

.c-hamburger--htx.is-active span::after {
  bottom: 0;
  transform: rotate(-45deg);
}

.c-hamburger--htx.is-active span::before,
.c-hamburger--htx.is-active span::after {
  transition-delay: 0s, 0.3s;
}

@media (min-width: 1280px) {
  .c-hamburger {
    display: none;
  }
}
@media (max-width: 1920px) {
  .c-hamburger {
    width: 35px;
    height: 35px;
    top: 20px;
    right: 30px;
  }
  .c-hamburger span {
    top: 15px;
    height: 4px;
  }
  .c-hamburger span:before {
    top: 10px;
  }
  .c-hamburger span:after {
    bottom: 10px;
  }
  .c-hamburger span:before, .c-hamburger span:after {
    height: 4px;
    content: "";
  }
}
