// _base.scss

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;    
    margin: 0;
    padding: 0;
}

.headerLogo {
    z-index: 2;
    position: fixed;
}

.headerLogoContainer {
    position: relative;
}

.HRNLogo {
    position: absolute;
}

.greenButton {
    @extend .genericButton;
    width: 100%;
    @include buttonStyle($limeGreen, $limeGreen, $white);
    &:hover {
        @include buttonStyle($white, $white, $limeGreen);
    }
}

.whiteButton {
    @extend .genericButton;
    width: 100%;
    @include buttonStyle($white, $white, $limeGreen);
    &:hover {
        @include buttonStyle($limeGreen, $limeGreen, $white);
    }
}

header {
    @include backImage("../../images/header-bg-desktop.jpg");
    height: 52vw;
    color: $white;    
    position: relative;
    text-align: center;
}

#headerContentContainer {
    position: absolute;
    bottom: 4vw;
    width: 100%;
    .tagline {
        font-size: 40px;
        letter-spacing: 1px;
    }
}

.tagline {    
    font-family: 'Passion One', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

#headerGetTicketsButton {
    margin-left: 30px;
}

@media (max-width: 1920px) { 
    .headerLogo {
        left: 60px;
        top: 13px;
    }

    .HRNLogo {
        margin-left: -40px;
        margin-top: 5px; 
        width: 240px;
        top: 0px;    
    }

    .genericButton {
        max-width: 200px;
        height: 40px;
        font-size: 14px;
    }
}