// _base.scss

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;    
    margin: 0;
    padding: 0;
}

.headerLogo {
    z-index: 2;
    position: fixed;
}

.headerLogoContainer {
    position: relative;
}

.HRNLogo {
    position: absolute;
}

header {
    @include backImage("../../images/header-bg-desktop.jpg");
    height: 52vw;
    color: $white;    
    position: relative;
    text-align: center;
    overflow: hidden;
}

#headerContentContainer {
    position: absolute;
    bottom: 4vw;
    width: 100%;
    .tagline {
        font-size: 2.5vw;        
    }
}

.centerTagLine {
    width: 100%;
    position: absolute;    
    bottom: 33vw;
    left: 38.5%;
    span {
        top: 0;
        position: absolute;
        font-family: 'Playfair Display', serif;
        font-size: 2vw;
        font-weight: 200;
        display: block;
    }

    .centerTagLineLeftIndented {
        left: 4.5%;
    }

    #secondCenterTagLine {
        font-size: 6vw;
    }

    #thirdCenterTagLine {
        top: 6.5vw;        
    }
}

.tagline {    
    font-family: 'Passion One', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

#headerGetTicketsButton {
    margin-left: 30px;
}

#sponsors {
    img {
        margin-top: 3%;        
    }
}

#avatureLogo, #benifyLogo, #cornerstoneLogo, #successfactorsLogo, #workdayLogo {
    width: 5%;    
    margin-right: 2.5%;
}

#benifyLogo {
    width: 7%;
}

#cornerstoneLogo {
    width: 8%;
}

#successfactorsLogo {
    width: 13%;
}

#successfactorsLogoMobile {
    display: none;
}

#workdayLogo {
    width: 5%;
}

.featuringKeynote {
    position: absolute;
    bottom: 3.5%;
    text-align: center;
    bottom: 2%;
}

.left {
    left: 2.5%;
}

.right {
    right: 5.5%;
}

.keyNoteTitle {
    color: $white;
    font-family: 'Libre Baskerville', serif;    
    font-size: 1.25vw;
    font-weight: 300;
}

.keyNoteSpeaker {
    @extend .keyNoteTitle;
    font-size: 1.75vw;
    font-weight: 700;
}

.mobileGridBreak {
    display: none;
}

@media (max-width: 1920px) {
    .headerLogo {
        left: 60px;
        top: 13px;
    }

    .HRNLogo {
        margin-left: -40px;
        margin-top: 5px; 
        width: 240px;
        top: 0px;    
    }
}

@media (max-width: 640px) {
    header {
        height: 220vw;
        @include backImage("../../images/header-bg-mobile.jpg");        
    }

    .centerTagLine {
        bottom: 175vw;
        left: 26.5%;
        
        .centerTagLineLeftIndented {
            font-size: 4vw;
            left: 7.5%;
        }

        #secondCenterTagLine {
            font-size: 11.25vw;
        }

        #thirdCenterTagLine {
            top: 11.75vw;
        }
    }

    #headerContentContainer {
        bottom: 10vw;
        .tagline {
            margin-bottom: 7.5vw;
            font-size: 10vw;
        }

        #headerAgendaButton, #headerGetTicketsButton {
            display: block;
            margin: 0 auto;
        }

        #headerGetTicketsButton {
            margin-top: 7.5vw;
        }

        .featuringKeynote {
            top: auto;
            bottom: 105vw;
            .keyNoteTitle {
                font-size: 3vw;
            }

            .keyNoteSpeaker {
                font-size: 4vw;
            }
        }

        .left {
            left: 5vw;
            text-align: left;
        }
        
        .right {
            text-align: right;
            right: 5vw;
        }

        #sponsors {
            position: relative;
            bottom: -8.75vw;
            img {
                margin-top: 2.8125vw;
                margin-bottom: 2.8125vw;
                height: 11.5625vw;
                position: static;
                vertical-align: bottom;
            }
        }

        .mobileGridBreak {
            display: block;
        }

        #avatureLogo {
            width: 26vw;
            margin-right: 16vw;
        }

        #benifyLogo, #successfactorsLogoMobile {
            width: 33vw;
            margin-right: 0;            
        }

        #cornerstoneLogo {
            width: 37vw;
            margin-right: 4vw;
            margin-left: 2vw;
        }

        #successfactorsLogo {
            display: none;
        }

        #successfactorsLogoMobile {
            display: inline-block;
        }

        #workdayLogo {
            width: 24vw;
            margin-right: 50vw;
        }
    }
}

@media (max-width: 400px) {
    .centerTagLine {
        #thirdCenterTagLine {
            top: 11.25vw;
        }
    }
}