// _menu.scss

#navigationMenuDesktop {
    width: 100%;
    background-color: $black;
    position: fixed;
    top: 0;
    z-index: 1;
}

.menuList {
    position: relative;
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 0;
}

.menuItem {
    color: $white;
    display: inline-block;
    &:hover {
        color: $limeGreen;
        cursor: pointer;
    }
}

#menuItemTickets {
    position: absolute;
}

#menuBarMobileLayout {
    width: 100%;
    height: 75px;
    position: fixed;
    background-color: $black;
    z-index: 1;
    top: -100px
}

#menuItemMore #moreDropMenu {
    color: $black;
    padding-top: 35px;    
}

#menuItemMore:hover #moreDropMenu {
    visibility: visible;    
}

#moreDropMenu {
    position: absolute;
    list-style: none;
    visibility: hidden;
}

#moreDropMenuContainer {
    width: 200px;
    padding: 0;
    border-top: 4px solid rgba(10, 9, 9, 0.25);
    background-color: $white;
    text-align: left;
    ul {
        padding: 5px 0;
        li {
            padding: 5px 0 5px 18px;
            list-style: none;
            font-size: 14px;
            &:hover {
                background-color: $limeGreen;
                color: $white;
                cursor: pointer;
            }
        }        
    }
}

.subLine {
    line-height: 8px;
    font-size: 8px;
    .amsterdamColor {
        color: $skyBlue;
    }

    .sanFranciscoColor {
        color: $pink;
    }
}

#navigationMenuMobile.navigationMenuMobileActivate {
    right: 0;
}

#navigationMenuMobile {
    width: 100vw;
    height: 100vh;
    background-color: black;
    color: white;
    top: 0;
    position: fixed;
    display: block;
    right: -100vw;
    z-index: 1;
}

.menuListMobile {
    list-style: none;
    text-align: center;
    padding-top: 20vh;
    margin: 0;
}

.menuItemMobile {
    margin-bottom: 15px;
    font-size: 15px;
}

@media (max-width: 1920px) {
    #navigationMenuDesktop {
        height: 75px;
    }

    .menuList {
        top: 25px;
    }

    .menuItem {
        font-size: 14px;
        margin: 0 30px;
    }

    #menuItemTickets {
        top: -8px;
        width: 200px;
    }
}

@media (max-width: 1550px) {
    .menuItem {
        font-size: 14px;
        margin: 0 1vw;
    }
}

@media (max-width: 1270px) {
    #navigationMenuDesktop {
        display: none;
    }

    #navigationMenuMobile {
        display: block;
    }

    #menuBarMobileLayout {
        top: 0;
    }
}